---
//Library import
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
//Content data import
export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries({
    content_type: "blogPost",
  });
}

//Astro props
const { title, description, content } = Astro.props;
---

<h1>{title}</h1>
<small>{description}</small>
<p>{content}</p>
