---
import BlogCard from "../../components/BlogCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import SecondaryHeader from "../../layouts/SecondaryHeader.astro";
---

<MainLayout title="Blog">
  <SecondaryHeader
    src="images/blog.jpg"
    alt="Logo shapes in a line"
    title="Nuestro Blog"
    description="Terapia en Movimiento es un espacio seguro en donde esperamos facilitar información importante acerca de como mantener una buena salud mental."
  />
  <main class="px-8% flex flex-wrap gap-8 pb-12">
    <BlogCard />
    <BlogCard />
    <BlogCard />
  </main>
</MainLayout>
