---
//Layout imports
import MainLayout from "../../layouts/MainLayout.astro";
import SecondaryHeader from "../../layouts/SecondaryHeader.astro";
//Component imports
import BlogCard from "../../components/BlogCard.astro";
import BlogCardManchester from "../../components/BlogCardManchester.astro";
//Library import
import { contentfulClient } from "../../lib/contentful";
//Content data import
const entries = await contentfulClient.getEntries({ content_type: "blogPost" });
---

<MainLayout title="Blog">
  <SecondaryHeader
    src="/images/blog.jpg"
    alt="Logo shapes in a line"
    title="Nuestro Blog"
    description="Terapia en Movimiento es un espacio seguro en donde esperamos facilitar información importante acerca de como mantener una buena salud mental."
  />
  <main class="px-8% grid grid-cols-1 lg:grid-cols-2 gap-8 pb-12">
    <BlogCardManchester />
    {entries.items.map((post) => <BlogCard {post} />)}
  </main>
</MainLayout>
