---
//Layout imports
import MainLayout from "../layouts/MainLayout.astro";
import SecondaryHeader from "../layouts/SecondaryHeader.astro";

//Library imports
import { Icon } from "astro-icon";
---

<MainLayout title="Contacto">
  <!--Imported SecondaryHeader Section -->
  <SecondaryHeader
    src="/images/contact.png"
    alt="Main section image"
    title="Ponte en Contacto"
    description="Lorem ipsum dolor sit amet consectetur. At sed morbi in aliquet quam. Odio nibh facilisis eros tortor. Rhoncus amet a dictum diam dolor."
  />
  <!--Contact links with Icons -->
  <main class="px-8% pb-12">
    <ul class="flex flex-col flex-wrap sm:flex-row gap-8 md:gap-12">
      <li>
        <a
          href="/contacto"
          class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
        >
          <Icon
            name="ic:baseline-mail"
            class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
          />
          contacto@terapiaenmovimiento.org</a
        >
      </li>
      <li>
        <a
          href="/contacto"
          class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
        >
          <Icon
            name="ic:baseline-phone"
            class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
          />
          888-777-9999</a
        >
        <li>
          <a
            href="/contacto"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="ci:instagram"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            @terapia.mov.ac</a
          >
        </li>
        <li>
          <a
            href="/contacto"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="fa-brands:facebook"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            Terapia en Movimiento</a
          >
        </li>
        <li>
          <a
            href="/contacto"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="ci:linkedin"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            Terapia en Movimiento</a
          >
        </li>
      </li>
    </ul>
  </main>
  <!--Contact Form -->
  <form
    action=""
    method="get"
    class="px-8% flex flex-wrap gap-4 md:gap-8 pb-12"
  >
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="nombre">*Nombre</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        name="nombre"
        id="nombre"
        required
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="apellido">*Apellido</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        type="text"
        name="apellido"
        id="apellido"
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="email">*Teléfono</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        type="tel"
        name="teléfono"
        id="teléfono"
        required
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="email">*Email</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none invalid:border-pink invalid:text-pink focus:invalid:outline-pink"
        type="email"
        name="email"
        id="email"
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full">
      <label for="mensaje">*Mensaje</label>
      <textarea
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none min-h-[4rem] md:min-h-[8rem]"
        name="mensaje"
        id="mensaje"></textarea>
    </div>
    <div>
      <input
        type="submit"
        value="Enviar"
        class="px-6 py-2 text-white md:text-sm rounded-lg font-medium hover:scale-105 transition-transform bg-orange"
      />
    </div>
  </form>
</MainLayout>
