---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Voluntariado">
  <header class="min-h-[80vh] flex flex-col items-center justify-center gap-4">
    <h1 class="font-bold text-3xl uppercase">Contacto</h1>
    <p>Esta página está actualmente en contrucción.</p>
  </header>
</MainLayout>
