---
import MainLayout from "../layouts/MainLayout.astro";
import SecondaryHeader from "../layouts/SecondaryHeader.astro";
---

<MainLayout title="Contacto">
  <SecondaryHeader
    src="images/contact.png"
    alt="Main section image"
    title="Ponte en Contacto"
    description="Lorem ipsum dolor sit amet consectetur. At sed morbi in aliquet quam. Odio nibh facilisis eros tortor. Rhoncus amet a dictum diam dolor."
  />
</MainLayout>
<p></p>
