---
//Layout imports
import MainLayout from "../layouts/MainLayout.astro";
import SecondaryHeader from "../layouts/SecondaryHeader.astro";

//Library imports
import { Icon } from "astro-icon";
---

<MainLayout title="Contacto">
  <!--Imported SecondaryHeader Section -->
  <SecondaryHeader
    src="/images/contact.png"
    alt="Main section image"
    title="Ponte en Contacto"
    description="Utiliza cualquiera de los links o envíanos un mensaje a través del formulario de contacto de abajo."
  />
  <!--Contact links with Icons -->
  <main class="px-8% pb-12">
    <ul class="flex flex-col flex-wrap sm:flex-row gap-8 md:gap-12">
      <li>
        <a
          href="mailto:terapia.mov.ac@gmail.com"
          class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
        >
          <Icon
            name="ic:baseline-mail"
            class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
          />
          terapia.mov.ac@gmail.com</a
        >
      </li>
      <li>
        <a
          href="tel:+52 81 2003 3548"
          class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
        >
          <Icon
            name="ic:baseline-phone"
            class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
          />
          81-2003-3548</a
        >
        <li>
          <a
            href="https://facebook.com/terapiamov"
            target="_blank"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="fa-brands:facebook"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            Terapia en Movimiento</a
          >
        </li>
        <li>
          <a
            href="https://instagram.com/terapia.mov.ac"
            target="_blank"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="ci:instagram"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            @terapia.mov.ac</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/Terapia_Mov"
            target="_blank"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="ci:twitter"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            Terapia en Movimiento</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/terapia-en-movimiento-a-c-518821231/"
            target="_blank"
            class="flex gap-4 items-center hover:font-medium transition-all hover:scale-102"
          >
            <Icon
              name="ci:linkedin"
              class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
            />
            Terapia en Movimiento</a
          >
        </li>
      </li>
    </ul>
  </main>
  <!--Contact Form -->
  <form
    action="https://api.web3forms.com/submit"
    method="POST"
    class="px-8% flex flex-wrap gap-4 md:gap-8 pb-12"
  >
    <input
      type="hidden"
      name="access_key"
      value="7e80c860-5948-4a37-a8a8-c7aa56a83dd1"
    />
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="nombre">*Nombre</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        type="text"
        name="nombre"
        id="nombre"
        required
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="apellido">*Apellido</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        type="text"
        name="apellido"
        id="apellido"
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="email">*Teléfono</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none"
        type="tel"
        name="teléfono"
        id="teléfono"
        required
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full sm:basis-1/3">
      <label for="email">*Email</label>
      <input
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none invalid:border-pink invalid:text-pink focus:invalid:outline-pink"
        type="email"
        name="email"
        id="email"
      />
    </div>
    <div class="flex flex-col flex-grow gap-2 basis-full">
      <label for="mensaje">*Mensaje</label>
      <textarea
        class="bg-off-white border-b border-dark-blue px-2 focus:outline-yellow focus:border-none min-h-[4rem] md:min-h-[8rem]"
        name="mensaje"
        id="mensaje"></textarea>
    </div>
    <input type="hidden" name="redirect" value="/formulario-enviado" />
    <div>
      <input
        type="submit"
        value="Enviar"
        class="px-6 py-2 text-white md:text-sm rounded-lg font-medium hover:scale-105 transition-transform bg-orange"
      />
    </div>
  </form>
</MainLayout>
