---
import Button from "../components/button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon";
---

<MainLayout title="Terapia en Movimiento">
  <header
    class="min-h-[30rem] px-8% pt-80 pb-28 relative bg-[url('../images/home-hero.png')] bg-no-repeat bg-cover bg-center"
  >
    <!--Hero Section Content -->
    <div
      class="relative z-10 max-w-xl flex flex-col items-start gap-4 text-white"
      id="home-hero-content"
    >
      <h1 class="text-3xl font-black uppercase md:text-5xl md:leading-tight">
        Tu bienestar es nuestra prioridad
      </h1>
      <p>
        Ayudamos a nuestros pacientes a mejorar su estado emocional, físico y
        psicológico. Nuestros servicios se dirigen a áreas personales y
        laborales.
      </p>
      <Button color="bg-orange" href="/contacto" text="Contáctanos" />
    </div>

    <!--Hero Section Gradient-->

    <div
      class="absolute inset-0 z-0 bg-gradient-to-t from-black opacity-60"
      id="home-hero-bg-image"
    >
    </div>
  </header>
  <main class="px-8% md:px-15% py-20">
    <!--About Section -->
    <div class="w-full md:my-20 items-center gap-12 grid sm:grid-cols-2">
      <!--About Image -->
      <div class="relative">
        <video width="100%" class="aspect-video relative z-20" controls autoplay>
          <source src="/videos/jonathan.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div
          id="about-image-accent"
          class="absolute inset-0 z-0 w-full h-full bg-orange -translate-x-2 translate-y-2"
        >
        </div>
      </div>
      <!--About Content -->
      <div
        class="py-10 flex flex-col justify-center items-start gap-2"
      >
        <h4 class="font-semibold text-blue text-xs md:text-base">
          Acerca de Nosotros
        </h4>
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">
          Nuestro movimiento
        </h2>
        <p>
          Buscamos desarrollar nuestra asociación con la finalidad de poder
          ampliar los horizontes de la ayuda que brindamos a las personas, de
          manera directa e indirecta.
        </p>
      </div>
    </div>
    <!--MVV Section -->
    <div
      id="mision"
      class="my-10 py-6 border-solid border-b-2 flex gap-4 md:gap-8 flex-wrap items-center md:my-16 md:pb-12"
    >
      <Icon
        name="ic:baseline-star"
        class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
      />
      <h3 class="text-xl font-medium flex-grow md:text-2xl">Misión</h3>
      <p class="basis-3/4 flex-grow">
        La misión de nuestra organización es ofrecer servicios de atención
        psicológica en los diferentes contextos de la vida cotidiana a niños,
        niñas, adolescentes y adultos, con el objetivo de mejorar su bienestar
        emocional y psicológico.
      </p>
    </div>
    <div
      id="vision"
      class="my-10 py-6 border-solid border-b-2 flex gap-4 md:gap-8 flex-wrap items-center md:my-16 md:pb-12"
    >
      <Icon
        name="ic:baseline-remove-red-eye"
        class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
      />
      <h3 class="text-xl font-medium flex-grow md:text-2xl">Visión</h3>
      <p class="basis-3/4 flex-grow">
        Nuestra visión es trabajar hacia una sociedad que goce de una buena
        salud mental y emocional, y estamos comprometidos a contribuir al
        desarrollo de ciudadanos seguros de sí mismos y exitosos en su plan de
        vida y carrera.
      </p>
    </div>
    <div
      id="valores"
      class="my-10 py-6 border-solid border-b-2 flex gap-4 md:gap-8 flex-wrap items-center md:my-16 md:pb-12"
    >
      <Icon
        name="ic:baseline-person"
        class="text-white bg-dark-blue rounded-full w-8 h-8 p-2 md:w-10 md:h-10"
      />
      <h3 class="text-xl font-medium flex-grow md:text-2xl">Valores</h3>
      <p class="basis-3/4 flex-grow">
        En nuestra organización, valoramos el respeto hacia nuestros pacientes y
        sus circunstancias individuales, la empatía por sus experiencias y
        necesidades, y la responsabilidad en la atención que brindamos.
      </p>
    </div>
  </main>

  <!--Programs Section -->
  <section>
    <!--Mujer Violeta -->
    <article class="sm:flex">
      <img
        src="/images/mujer-violeta.jpg"
        alt="Mujeres abrazandose en paz vistiendo el color violeta"
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-[#E0B8E0] flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">Mujer Violeta</h2>
        <p class="mb-2">
          El programa "Mujer Violeta" es una iniciativa que busca atender a
          mujeres en situaciones de riesgo debido a la violencia de género.
          Ofrece asesoría legal inmediata y atención psicológica para trabajar
          el desprendimiento emocional y garantizar su sano desarrollo. El
          objetivo es disminuir la violencia de género, realizar intervenciones
          preventivas y fomentar un sano proceso de emancipación.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/mujer-violeta"
          text="Leer Más"
        />
      </div>
    </article>
    <!--Deportivamente -->
    <article class="sm:flex sm:flex-row-reverse">
      <img
        src="/images/deportivamente.jpg"
        alt="Personas en un gimnasio de box, descansando."
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-yellow flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">Deportivamente</h2>
        <p class="mb-2">
          El programa Deportivamente es una iniciativa que busca fomentar la
          actividad física y la atención psicológica individualizada a través
          del boxeo, con el objetivo de mejorar la salud mental y física de la
          población del país y combatir los indicadores de riesgo social que
          afectan a nuestra sociedad.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/deportivamente"
          text="Leer Más"
        />
      </div>
    </article>
    <!--manchester -->
    <article class="sm:flex">
      <img
        src="/images/manchester.jpg"
        alt="Niños jugando futbol"
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-[#D2DDEF] flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">
          Manchester City Camp
        </h2>
        <p class="mb-2">
          El City Football Language School es un programa de inglés y fútbol en
          Inglaterra donde se busca que jugadores (de 9 a 17 años) aprendan y
          desarrollen habilidades interpersonales clave mientras juegan junto a
          futbolistas de todo el mundo en el club Manchester City.
        </p>
        <Button color="bg-dark-blue" href="/blog/city" text="Más Información" />
      </div>
    </article>
    <!-- Periciales Psicológicas -->
    <article class="sm:flex sm:flex-row-reverse">
      <img
        src="/images/periciales.jpg"
        alt="Juez revisando un documento legal."
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-orange flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">
          Periciales Psicológicas
        </h2>
        <p class="mb-2">
          Una pericial psicológica es el documento que redacta un psicólogo
          donde expone una serie de conclusiones sobre el estado mental de la
          persona acusada en un proceso judicial, fungiendo como una herramienta
          complementaria a las pruebas y testimonios ya que cuenta con validez
          legal.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/periciales"
          text="Más Información"
        />
      </div>
    </article>
    <!--Psicología Empresarial -->
    <article class="sm:flex">
      <img
        src="/images/empresarial.jpg"
        alt="Personas en un gimnasio de box, descansando."
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-yellow flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">
          Atención psicológica para empresas
        </h2>
        <p class="mb-2">
          La psicología es fundamental en el lugar de trabajo. Esta es una rama
          que ayuda a los directivos de todos los niveles de las organizaciones
          a seleccionar, apoyar, motivar y formar a los empleados lo cual afecta
          directamente el éxito de cualquier negocio.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/psicología-empresarial"
          text="Más Información"
        />
      </div>
    </article>
    <!--imedysinc-->
    <article class="sm:flex sm:flex-row-reverse">
      <img
        src="/images/imedisync.jpeg"
        alt="Imagen de una cabeza con el casco de Imedisync."
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-off-white flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">imedysinc</h2>
        <p class="mb-2">
          iSyncWave es el primer dispositivo neuroterapéutico y EEG integrado
          que brinda atención telemental a través de una plataforma digital de
          salud cerebral con inteligencia artificial.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/imedysinc"
          text="Más Información"
        />
      </div>
    </article>
    <!--Consultorio Psicológico-->
    <article class="sm:flex">
      <img
        src="/images/consulta.jpg"
        alt="Imagen de un consultorio psicológico"
        class="aspect-square object-cover sm:w-2/5"
      />
      <div
        class="px-8% py-20 bg-blue flex flex-col gap-2 sm:gap-4 items-start justify-center"
      >
        <h2 class="font-bold text-2xl sm:text-3xl uppercase">
          Consultorio Psicológico
        </h2>
        <p class="mb-2">
          Atención psicológica individual, pareja y familia , dentro de la
          clínica monterrey, consultorio 235.
        </p>
        <Button
          color="bg-dark-blue"
          href="/blog/consulta-psicológica"
          text="Más Información"
        />
      </div>
    </article>
  </section>
</MainLayout>
