---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Terapia en Movimiento">
  <p class="text-xl font-black uppercase">
    Bienvenidos a Terapia en Movimiento
  </p>
</MainLayout>
