---
import Button from "../components/button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon";
---

<MainLayout title="Terapia en Movimiento">
  <header
    class="min-h-[30rem] px-8% pt-80 pb-28 relative bg-[url('../images/home-hero.png')] bg-no-repeat bg-cover bg-center"
  >
    <!--Hero Section Content -->
    <div
      class="relative z-10 max-w-xl flex flex-col items-start gap-4 text-white"
      id="home-hero-content"
    >
      <h1 class="text-3xl font-black uppercase md:text-5xl md:leading-tight">
        Tu bienestar es nuestra prioridad
      </h1>
      <p class="text-sm md:text-lg">
        Ayudamos a nuestros pacientes a mejorar su estado emocional, físico y
        psicológico. Nuestros servicios se dirigen a áreas personales y
        laborales.
      </p>
      <Button color="bg-orange" href="/programas" text="Conócenos" />
    </div>

    <!--Hero Section Gradient-->

    <div
      class="absolute inset-0 z-0 bg-gradient-to-t from-black opacity-60"
      id="home-hero-bg-image"
    >
    </div>
  </header>
  <main>
    <!--About Section Image -->
    <!--About Section Text -->
    <!--MVV Section -->
    <div>
      <Icon
        name="ic:baseline-star"
        class="text-white bg-dark-blue rounded-full w-8 p-2"
      />
    </div>
  </main>
</MainLayout>
