---
//Layout import
import MainLayout from "../layouts/MainLayout.astro";
//Component import
import BlogCard from "../components/BlogCard.astro";
//Content data import
import { contentfulClient } from "../lib/contentful";

const entries = await contentfulClient.getEntries({ content_type: "blogPost" });
---

<MainLayout title="Programas">
  <header class="min-h-[80vh] flex flex-col items-center justify-center gap-4">
    <h1 class="font-bold text-3xl uppercase">Prueba de Contenful API</h1>

    {entries.items.map((post) => <BlogCard {post} />)}
  </header>
</MainLayout>
