---
//library imports
import { Icon } from "astro-icon";

//data imports
import navLinks from "../data/navLinks";
---

<nav class="w-full flex justify-between px-8% py-4 sticky top-0 z-50 bg-white">
  <!--Navigation Logo -->
  <a
    class="flex gap-4 h-10 hover:scale-102 transition-transform"
    href="/"
    aria-label="Inicio"
  >
    <Icon name="logomark" />
    <h3 class="text-xs uppercase text-center block">
      <span class="font-bold text-2xl leading-none">Terapia</span>
      <br /> en Movimiento
    </h3>
  </a>

  <!--Navigation Links -->
  <div class="flex items-center">
    <ul class="flex gap-3 lg:gap-16">
      {
        navLinks.map((item) => (
          <a
            class="transition-all hover:font-medium text-xs md:text-base"
            href={item.path}
            data-navLink
          >
            {item.name}
          </a>
        ))
      }
    </ul>
    <div id="burger-menu" class="bg-pink w-8 h-8 hidden"></div>
  </div>
</nav>

<style>
  [aria-current="page"] {
    text-decoration: underline;
    font-weight: 500;
  }
</style>

<!--Assings an "aria-current" "page" to the link when on that page -->
<script>
  const navLinks = document.querySelectorAll("[data-navLink]");

  navLinks.forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
