---
//library imports
import { Icon } from "astro-icon";

//data imports
import navLinks from "../data/navLinks";
---

<nav class="w-full flex justify-between px-8% py-8">
  <a class="flex gap-6 h-10" href="/" aria-label="Inicio">
    <Icon name="logomark" />
    <Icon name="logotype" class="hidden md:block" />
  </a>
  <div class="flex items-center">
    <ul class="hidden md:flex gap-8 lg:gap-16">
      {navLinks.map((item) => <a href={item.path}>{item.name}</a>)}
    </ul>
    <div id="burger-menu" class="bg-m-pink w-8 h-8 md:hidden"></div>
  </div>
</nav>
