---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content="Terapia en Movimiento" />
  <meta
    property="og:description"
    content="Nuestra organización ofrece servicios de atención psicológica en los diferentes contextos de la vida cotidiana a niños, niñas, adolescentes y adultos, con el objetivo de mejorar su bienestar emocional y psicológico."
  />
  <meta property="og:url" content="http://terapiaenmovimiento.org/" />
  <meta
    property="og:image"
    content="http://terapiaenmovimiento.org/images/share-image.jpg"
  />
  <title>{title}</title>
  <style>
    @import url("../styles/general-sans.css");
  </style>
</head>
