---
//library import
import { Image } from "@astrojs/image/components";

const { title, description, src, alt } = Astro.props;
---

<header class="flex flex-col gap-12 pb-12">
  <Image
    src={src}
    alt={alt}
    width={1920}
    aspectRatio="10:3"
    format="webp"
    fit="cover"
  />
  <div class="px-8% flex flex-col gap-2">
    <h1 class="font-bold text-2xl sm:text-3xl uppercase">{title}</h1>
    <p>{description}</p>
  </div>
</header>
